.side_body

  .side_header
    .side_header__name
      = current_user.name
    .side_header__lists
  
      = link_to "#", class:"side_header__btn" do
        = icon('fas', 'pen-square')
  
      = link_to "#", class:"side_header__btn" do
        = icon('fas', 'cog')

  .group
   
    .group__name
      test1
    .group__message
      まだメッセージがありません

  .group
   
    .group__name
      test2
    .group__message
      まだメッセージがありません

