.side_body

  .side_header
    .side_header__name
      = current_user.name
    .side_header__lists
  
      = link_to new_group_path, class:"side_header__btn" do
        = icon('fas', 'pen-square')
  
      = link_to edit_user_path(current_user), class:"side_header__btn" do
        = icon('fas', 'cog')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message